<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>My Orders!!</h1>
                <p>The seller can see all the orders he has received here!!</p>
                <nav class="d-flex align-items-center">
                    <a href="index.ejs">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="sellerOrders.ejs">My Orders</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
